@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.container{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #ECF1F2;
}
.squer{
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 100px;
}
.b1{
  top: 40px;
  left: 50%;
  margin-left: -50px;
  background-color: #FFEFD3;
  z-index: 0;
}
.b2{
  top: 120px;
  left: 280px;
  background-color: #7084DE;
  z-index: 1;
}
.b3{
  top: 50%;
  margin-top: -50px;
  right: 40px;
  background-color: #D0ECEA;
  z-index: 2;
}
.b4{
  top: 280px;
  left: 280px;
  background-color: #8C7A5E;
  z-index: 3;
}
.b5{
  bottom: 40px;
  left: 200px;
  background-color: #9FD6D1;
  z-index: 4;
}
.b6{
  top: 280px;
  left: 120px;
  background-color: #FFFEE3;
  z-index: 5;
}
.b7{
  top: 50%;
  margin-top: -50px;
  left: 40px;
  background-color: #DEAE70;
  z-index: 6;
}
.b8{
  top: 120px;
  left: 120px;
  background-color: #DE70CF;
  z-index: 7;
}
.b8:after{
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  background-color: #FFEFD3;s
}
.b9{
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2B69A2;
}
